*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
}

body{
    padding: 60px;
}

input{
    font-size: 1.3rem;
    width: 100%;
    color: grey;
}